<div class="container mt-4">
  <h1 class="text-center">รายชื่อสมาชิกในกลุ่ม</h1>
  <div class="row mt-4 text-center">
      <div class="col">
          <div class="card mx-auto" style="width: 18.9rem;">
              <img src="assets/teams/team01.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">นายพีระพัฒน์ เนตใน</h5>
                  <p class="card-text">ปวส.1/5</p>
                  <a href="https://www.youtube.com/watch?v=fey-Kn6WROs" class="btn btn-primary">พี</a>
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card mx-auto" style="width: 18.9rem;">
              <img src="assets/teams/team02.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">นางสาวดลยา ดวงพรม</h5>
                  <p class="card-text">ปวส.1/5</p>
                  <a href="#" class="btn btn-primary">เบส</a>
              </div>
          </div>
      </div>

      <div class="col">
          <div class="card mx-auto" style="width: 18.9rem;">
              <img src="assets/teams/team03.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">นางสาวเกตน์สิรี มีนาค</h5>
                  <p class="card-text">ปวส.</p>
                  <a href="#" class="btn btn-primary">แป้ง</a>
              </div>
          </div>
      </div>
  </div>
</div>
